--extra-index-url https://download.pytorch.org/whl/cpu
ultralytics
streamlit
opencv-python-headless
pillow
numpy
torch
torchvision
pyyaml
libgl1
ffmpeg
io
os 
glob
time
pathlib
tempfile
shutil
sys
cv2
Image
yaml
